/*
fevenkitsune.page -> index.css
*/
:root {
    --text-color: #ffffff;
    --background-color: #35363a;
}


body {
    background-color: var(--background-color);
}

#headerText {
    user-select: none;
    color: var(--text-color);
    text-align: center;
    font-size: calc(56px + (96 - 56) * (100vw - 360px)/(1080 - 360));
    font-family: 'Roboto', sans-serif;
}

/* GitHub link */
.divGithub {
    display: block;
    text-align: center;
    margin: auto;
}

.hrefGithub {
    padding: 0;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.githubLogo {
    display: block;
    margin: auto;
    padding: 0;
    width: 100%;
  max-width: 20vw;
  max-height: 20vh;
    pointer-events: none;
}