@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #ffffff;
        --background-color: #35363a;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: #000000;
        --background-color: #ffffff;
    }
}

body {
    background-color: var(--background-color);
}

h1 {
    color: var(--text-color);
    text-align: center;
    font-size: calc(56px + (96 - 56) * (100vw - 360px)/(1080 - 360));
    font-family: 'Roboto', sans-serif;
}

.hrefGithub {
    padding: 0;
    height: 100%;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.svgGithub {
    padding: 0;
    height: 100%;
    pointer-events: none;
}

.divGithub {
    height: calc(56px + (96 - 56) * (100vw - 360px)/(1080 - 360));
    display: block;
    text-align: center;
    margin: auto;
}