/*
They lay CSS upon us, and Jesus wept
*/

body {
    max-width: 1200px;
    font-family: monospace;
    margin: 0 auto;
    padding: 0;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: row;
}

.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f0f0f0;
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-content {
    flex: 3;
    padding: 20px;
    background-color: bisque;
}

.info-card {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    text-align: center;
    flex: 2;
}

.nametag-socials {
    display: flex;
    flex-direction: column;
    flex: 4;
}

.avatar {
    flex: 1;
}

.info-card > h1 {
    flex: 3;
}

.social-container {
    display: flex;
    justify-content: center;
}


.social-container > a {
    flex-grow: 1;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-column {
        flex-direction: column;
        order: 0;
        justify-content: left;
    }

    .social-container {
        flex-direction: row;
    }

    .info-card {
        flex-direction: row;
    }
}

@media (max-width: 576px) {
    .nametag-socials {
        flex: 2.5;
    }
}

@media (max-width: 384px) {
    .nametag-socials {
        flex: 1.5;
    }
}
